*{
    box-sizing: border-box;
}


body{
    margin:0;
    padding:0;
    text-align:left;
    font-size: 32px;
    width:100%;
    max-width: 800px;
    margin: 0 auto;
}
header{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
h1{
    font-size: 100%;
}
main{
    width:100%;
    display: block;
    padding-bottom: 30px;
    margin-bottom: 30px;

    border-bottom:1px solid #ccc;
    position:relative;

}
footer{
    background-color: #fff;
    border-bottom:1px solid #ccc;
    text-align: center;
}
p{
    font-size:70%;
    text-align: center;
    border-bottom:1px solid #fff;
    height:100px;
}
ul{
    padding: 0;
    border-top: 1px solid #000000;
    display:table;  /* 定義 */
    table-layout: fixed;
    width:96%;
    font-size: 80%;
    margin: 0 3%;
    text-align: center;
}
li{
    list-style-type:none;
    border: 1px solid #666;
    background-color: #fff;
    display:table-cell;  /* 定義 */
    cursor: pointer;
    color:#0d7dfd;
}
li:hover{
    background: #0d7dfd;
    color:#fff;
}
textarea{
  margin: 10px 3%;
  width: 95%;
  height: 100px;
  font-size:80%;
  box-shadow: 3px 3px 3px 3px #555;
  background-color:rgb(241, 239, 239);
}
#key{
    margin:0 3%;
    width: 95%;
    font-size:80%;
    background-color: #e1efff;
    box-shadow: 3px 3px 3px 3px #555;
}
table{
    margin: 0 3%;
    border:1px solid #8dc3f5;
    width:96%;
    
}
th{
    width:30%;
    font-size:24px;
    background-color:#d0e7fc;
    border-bottom: 1px solid #8dc3f5;
}
td{
    width:33%;

    font-size:16px;
    background-color:rgb(241, 239, 239);
    border-bottom: 1px solid #8dc3f5;
}

/* フォームの設定 */
.formItem{
    display: flex;
    margin-bottom: 1em;
    align-items: center;
}
dt{
    flex: 1 1 30px;
    text-align: right;
    margin-right: 1em;
    font-weight: bold;
    color: #00a;
}
dd{
    flex: 2 1 30px;
    margin-left: 0;
}
input[type="text"],textarea{
    border: 1px solid #999;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 24px;
}
select{
    width: 50%;
    height: 150%;
    font-size: 24px;
    border-radius: 5px;
}
.btn{
    text-align: center;
}
.btn:hover{
    opacity: 0.65;
}
button{
    background: rgb(55, 55, 240);
    border: none;
    width: 20%;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    text-align: center;
}
#t_btn{
    margin-bottom: 20px;
}